.session-form
  .row
    .col-xs-offset-3.col-xs-6
      %h2 Sign Up
  .row
    .col-xs-offset-3.col-xs-6
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        .form-inputs
          = f.input :email, required: true, autofocus: true
          = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
          = f.input :password_confirmation, required: true
        .form-actions
          = f.submit "Sign up", :class=>"btn-block btn-primary"
  = render "devise/shared/links"