.row.session-shared-links
  .col-xs-offset-3.col-xs-6
    - if controller_name != 'sessions' 
      = link_to "Already a user?", new_session_path(resource_name) 
      %br

    - if devise_mapping.registerable? && controller_name != 'registrations' 
      = link_to "Register new account?", new_registration_path(resource_name) 
      %br
