.row.heading
  .col-xs-offset-3.col-xs-6
    %h2.form-left-margin Edit Contact
    .contact-form
      = simple_form_for(@contact) do |f|
        = f.error_notification

        .form-inputs
          = f.input :first_name, required: true
          = f.input :last_name
          = f.input :phone
          = f.input :email
          = f.input :url

        .form-actions
          = f.button :submit, :class=>"btn-md btn-success btn-block"
          = link_to 'Go Back', contacts_path, :class=>"btn-md btn-primary btn-block"
  