.row.heading
  .col-xs-6
    %h2 Your Contacts
  .col-xs-6
    = link_to '+', new_contact_path, :class=>"btn btn-primary pull-right add-contact", :data => {:toggle => "tooltip"}, :title=>"Add new contact"
.row   
  - @contacts.each do |contact|
    .col-xs-12.col-md-6.col-lg-6
      .contact-card
        .row
          .col-xs-6.col-md-6
            %label First Name: 
            %p
              = contact.first_name    
        .row
          .col-xs-6.col-md-6
            %label Last Name: 
            %p
              = contact.last_name
        .row
          .col-xs-6.col-md-6
            %label Email: 
            %p
              = contact.email
        .row
          .col-xs-6.col-md-6
            %label Phone: 
            %p
              = contact.phone
        .row
          .col-xs-6.col-md-6
            %label URL: 
            %p
              = contact.url
        .action-buttons
          .row
            .col-xs-12.col-md-12
              = link_to 'Edit Contact', edit_contact_path(contact), :class=>"btn btn-success btn-block"
          .row
            .col-xs-12.col-md-12
              = link_to "Delete Contact", contact_path(contact), method: :delete, :class=>"btn btn-danger btn-block"
