.row.heading
  .col-xs-offset-3.col-xs-6
    %h2.form-left-margin New Contact
    .contact-form
      = simple_form_for(@contact) do |f|
        = f.error_notification
        .form-inputs
          = f.input :first_name, required: true, :placeholder=>"Enter first name"
          = f.input :last_name, :placeholder=>"Enter last name"
          = f.input :email, :placeholder=>"Enter valid email"
          = f.input :phone, :placeholder=>"Enter valid phone number"
          = f.input :url, :placeholder=>"Enter your contact's url"

        .form-actions
          = f.button :submit, :class=>"btn-md btn-success btn-block"
          = link_to 'Back', contacts_path, :class=>"btn-md btn-primary btn-block"
