.row.heading
  %p#notice.alert.alert-success
    = notice

  .show-buttons
  .row
    .col-xs-offset-3.col-xs-6
      = link_to 'Edit Contact', edit_contact_path(@contact), :class=>"btn btn-success btn-block"
      = link_to 'Back to Contacts', contacts_path, :class=>"btn btn-primary btn-block"
