.session-form
  .row
    .col-xs-offset-3.col-xs-6
      %h2 Log In
  .row
    .col-xs-offset-3.col-xs-6
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = devise_error_messages!
        .form-inputs
          = f.input :email, required: false, autofocus: true
          = f.input :password, required: false
        .form-actions
          = f.submit "Log in", :class=>"btn-block btn-primary"
          = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), :class=>"btn-block btn-primary gmail"
    
  = render "devise/shared/links"
