// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-app {
	.heading {
		margin: 100px 60px 30px 60px;
		.add-contact {
			border-radius: 80px;
			width: 60px;
			height: 60px;
			padding-top: 0px;
			font-size:3em;
		}
		.form-left-margin {
			margin-left: 60px;
		}
	}

	.show-buttons {
		a {
			height: 45px;
			margin: 15px 0px 15px 0px;
			font-size: 1.2em;
			padding-top: 10px;
		}
	}
	.contact-card {
		margin: 15px 60px 15px 60px;
		border-width: 1px;
		border-radius: 30px;
		background-color: #E5E4E2;
		padding: 60px 60px 60px 60px;
		height: 600px;
		label {
			text-align: center;
			font-size: 1.2em;
		}
		p {
			font-size: 1.2em;
			font-weight: 100;
		}
		.action-buttons {
			margin-top: 30px;
			a {
				margin: 15px 0px 15px 0px;
				height: 45px;
				padding-top: 10px;
			}
		}
	}

	.contact-form {
		margin: 30px 30px 30px 30px;
		background-color: #E5E4E2;
		padding: 60px 60px 60px 60px;
		border-radius: 30px;
		input {
			height: 60px;
		}
		.form-actions {
			margin-top: 30px;
			a {
				text-align: center;
				margin: 15px 0px 0px 0px !important;
				height: 60px;
				padding-top: 20px;
			}
		}
	}
}
