@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,300italic);
@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  font-family: 'Roboto';
}
.session-form {
  margin-top: 60px;
  .form-inputs {
    margin-top: 60px;
  }
  input {
    height: 60px;
  }
  .form-actions {
    margin-top: 60px;
    .gmail {
      margin-top: 15px;
      height: 60px;
      background-color: #DC4E41;
      text-align: center;
      padding-top: 20px;
    }
  }
  .session-shared-links {
    margin-top: 30px;
  }
}